[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scikit-learn = "==1.0.2"
flask = "*"
mlflow = "*"
boto3 = "*"
gunicorn = "*"
ipykernel = "*"

[dev-packages]
requests = "*"

[requires]
python_version = "3.9"
