[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mlflow = "*"
scikit-learn = "==1.0.2"
pandas = "*"
seaborn = "*"
hyperopt = "*"
xgboost = "*"
fastparquet = "*"
s3fs = "*"
boto3 = "*"
prefect = "==2.0.1"
dataclasses = "==0.6"
flask = "~=2.0.1"
werkzeug = "~=2.0.1"
requests = "~=2.26.0"
prometheus-client = "~=0.11.0"
pyyaml = "~=5.4.1"
tqdm = "*"
pyarrow = "*"
pymongo = "*"
evidently = "*"
ipykernel = "*"

[dev-packages]

[requires]
python_version = "3.9"
